###
# Virtual desktop settings
###

# Modify to free values
DISPLAY=:10
WEB_PORT=6090

###
# cuTAMP settings
###

# The cuTAMP path in the container
CUTAMP_PATH=/workspace/cutamp

# CUDA settings for PyTorch compilation
TORCH_CUDA_ARCH_LIST=7.0;7.5;8.0;8.6;8.9;9.0

# GPU device selection (default: use GPU 0)
CUDA_VISIBLE_DEVICES=0