<?xml version="1.0"?>
<robot name="fork">
  <link name="body">
    <inertial>
      <mass value="0.05"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01"/>
    </inertial>
    <visual>
      <geometry>
        <box size="0.10 0.018 0.01"/>
      </geometry>
      <material name="metal_body">
        <color rgba="0.65 0.65 0.65 1.0"/>
      </material>
    </visual>
  </link>
  <joint name="tine_joint" type="fixed">
    <parent link="body"/>
    <child link="tines"/>
    <origin xyz="0.05 0 0" rpy="0 0 0"/>
  </joint>
  <link name="tines">
    <visual>
      <geometry>
        <box size="0.03 0.028 0.01"/>
      </geometry>
      <material name="metal_tines">
        <color rgba="0.72 0.72 0.72 1.0"/>
      </material>
    </visual>
  </link>
</robot>
